*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #454545;
    color: aliceblue;
}
.global_chat{
    float: right;
    /* padding-right: 2%; */
    background-color: #3D4C5E;
    margin-right: 1rem;
    width: 40rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
    height: 50rem;
    border-radius: 6px;
}
.global_chat_box{
    padding: .5rem;
}
.global_chat_log{
    width: 98.5%;
    position: absolute;
    bottom: 3rem;
    overflow-y: scroll;
    height: 43.5rem;
}
.global_form{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 2rem;
}
.chattext{
    border-color: #311F42;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
}
.chatHeader{
    font-size: 1.7rem;
}
.playerList{
    float: right;
    background-color: #3D4C5E;
    margin-right: 1rem;
    width: 40rem;
    position: absolute;
    top: 2rem;
    right: 0;
    height: 40rem;
    border-radius: 6px;
}
.innerPlayerList{
    width: 98.5%;
    position: absolute;
    bottom: 2.5rem;
    overflow-y: scroll;
    height: 34rem;
}
.login{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    margin-right: 41rem;
    margin-top: 2rem;
}
.loadingScreen{
    width: 70rem;
    position: absolute;
    left: 27%;
}
.lobby_chat{
    float: right;
    /* padding-right: 2%; */
    background-color: #3D4C5E;
    margin-right: 41rem;
    width: 40rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
    height: 50rem;
    border-radius: 6px;
}
#weather{
    max-width: 250px;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    background: #232b38;
    margin: 1rem; 
}
#clientShort{
    max-width: 250px;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    background: #232b38;
    margin: 1rem;
}
#peerShort{
    max-width: 250px;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    background: #232b38;
    margin: 1rem;
    cursor: pointer;
}
.shortClientImg{
    border-radius: 5px;
    width: 5.4rem;
    padding-right: 1rem;
}
.shortClientName{
    position: relative;
    top: -1rem;
}
.discordButton{
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 16px;
    color: #fff;
    background-color: #7289da;
}
#playArea{
    margin: 1rem;
    width: 77%;
    position: absolute;
    top: 0;
}
#jobListing{
    margin-top: .5rem;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#jobListing:focus{
    outline: none;
}
#workButton{
    margin-top: .5rem;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#workButton:focus{
    outline: none;
}
#sleepButton{
    margin-top: .5rem;
    position: relative;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#sleepButton:focus{
    outline: none;
}
#storeListing{
    margin-top: .5rem;
    position: relative;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#storeListing:focus{
    outline: none;
}
#eatListing{
    margin-top: .5rem;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#eatListing:focus{
    outline: none;
}
#gangsListing{
    margin-top: .5rem;
    max-width: 13rem;
    padding: 0 50px 5px 5px;
    background: transparent;
    border: none;
}
#gangsListing:focus{
    outline: none;
}
.mainHud{
    display: inline-grid;
    float: right;
}
.joblist{
    width: 100%;
    background: rgb(43,43,43,.8);
    border-radius: 6px;
    z-index: 1000;
    padding: 10px;
    margin-top: 10rem;
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5rem;
    max-height: 63.5rem;
    overflow-y: auto;
    grid-row-gap: 2rem;
}
.AcceptJobButton{
    border: none;
    background-color: #a6e0c5;
    color: #383838;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 4px 7px;
    font-weight: bolder;
}
.RedButton{
    border: none;
    background-color: #dc3545;
    color: #383838;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 4px 7px;
    font-weight: bolder;
}
.shopres{
    max-width: 250px;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    background: #232b38;
    margin: 1rem;
}
.itemAmount{
    width: 10rem;
    background: rgb(43,43,43,.8);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.playerListButton{
    border: none;
    background: none;
}
.playerListButton:focus{
    outline: none;
}